.mapWrap {
  padding: 10px;
  border-radius: 8px;
  height: 40%;
}

#kakaoMap {
  width: 100%;
  height: 100%;
}

.header {
  padding: 10px;
  font-weight: 700;
  margin: 0;
}

.detail_match_point_wrap {
  padding: 10px;
}

.detail_match_point_wrap p {
  margin: 0;
}

.detail_match_point_wrap ul {
  padding: 0;
  margin: 0;
}

.detail_match_point_wrap li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.detail_match_point_wrap li img {
  margin-right: 10px;
}

.detail_info_wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.detail_info_wrap span {
  padding: 10px;
}

.detail_info_wrap .copy {
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.detail_btn_wrap {
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.detail_btn_wrap .link {
  width: 100px;
  padding: 8px 12px;
  background-color: black;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  margin: 0 10px;
}
